html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;`
}

.octocat {
	float: left;
	padding: 2px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20px;
}

.octocat > a img {
  width: 450px;
  float: left;
  position: relative;
  box-sizing: inherit;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.authors > li a img {
	width: 30px;
}

.image-footer {
	clear: both;
}

.image-number {
	float: left;
	color: lightgray;
	margin-top: 14px;
}

.image-caption {
	float:right;
	margin-top: 5px;
}

ul {
	list-style: none;
	padding-left: 4px;
}

.authors {
	padding: 0px;
	float: right;
	padding-left: 10px;
}

.image-caption span, .image-caption a {
	line-height: 30px;
}

li {
	overflow:auto; 
	margin-right: 20px;
	padding-top: 3px;
}

ul li div div span {
	color: gray;
}

span, ul li div div a {
	font-weight: bolder;
}

.image-break {
	margin-right: 50px;
}